<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mosai.vliveshow.datachannel.repository.liveshow.LiveshowRateMapper" >
  <resultMap id="BaseResultMap" type="com.mosai.vliveshow.datachannel.domain.liveshow.LiveshowRate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="host_id" property="hostId" jdbcType="BIGINT" />
    <result column="room_id" property="roomId" jdbcType="VARCHAR" />
    <result column="rating" property="rating" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="title" property="title" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, host_id, room_id, rating, content, create_time, update_time, start_time, title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_liveshow_rate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByCdt" resultMap="BaseResultMap" parameterType="com.mosai.vliveshow.datachannel.domain.liveshow.LiveshowRate" >
    select 
    <include refid="Base_Column_List" />
    from t_liveshow_rate
    <where >
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="hostId != null" >
        and host_id = #{hostId,jdbcType=BIGINT}
      </if>
      <if test="roomId != null" >
        and room_id = #{roomId,jdbcType=VARCHAR}
      </if>
      <if test="rating != null" >
        and rating = #{rating,jdbcType=INTEGER}
      </if>
      <if test="content != null" >
        and content = #{content,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
       <if test="startTime != null" >
        and start_time = #{startTime,jdbcType=TIMESTAMP}
      </if>
      <if test="title != null" >
        and title = #{title,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_liveshow_rate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mosai.vliveshow.datachannel.domain.liveshow.LiveshowRate" >
    insert into t_liveshow_rate (id, user_id, host_id, 
      room_id, rating, content, 
      create_time, update_time, start_time, title)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{hostId,jdbcType=BIGINT}, 
      #{roomId,jdbcType=VARCHAR}, #{rating,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mosai.vliveshow.datachannel.domain.liveshow.LiveshowRate" >
    insert into t_liveshow_rate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="hostId != null" >
        host_id,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="rating != null" >
        rating,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
       <if test="title != null" >
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="hostId != null" >
        #{hostId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="rating != null" >
        #{rating,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
       <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
       <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mosai.vliveshow.datachannel.domain.liveshow.LiveshowRate" >
    update t_liveshow_rate
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="hostId != null" >
        host_id = #{hostId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="rating != null" >
        rating = #{rating,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
       <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
       <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mosai.vliveshow.datachannel.domain.liveshow.LiveshowRate" >
    update t_liveshow_rate
    set user_id = #{userId,jdbcType=BIGINT},
      host_id = #{hostId,jdbcType=BIGINT},
      room_id = #{roomId,jdbcType=VARCHAR},
      rating = #{rating,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="findLiveshowRateByPage" resultType="java.util.HashMap">
     SELECT
		lr.host_id,
		u.nick_name,
		lr.start_time,
		lr.room_id,
		lr.title,
		round(AVG(rating), 2) AS evaluatescore
	 FROM
		t_liveshow_rate lr
	 LEFT JOIN "user" u ON u. ID = lr.host_id
	 <where >
	      <if test="params.hostId != null" >
	        and host_id = #{params.hostId,jdbcType=BIGINT}
	      </if>
	      <if test="params.roomId != null" >
	        and room_id = #{params.roomId,jdbcType=VARCHAR}
	      </if>
	      <if test="params.startTime != null" >
	        and start_time >= #{params.startTime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="params.endTime != null" >
	        and #{params.endTime,jdbcType=TIMESTAMP} >= start_time
	      </if>
	      <if test="params.title != null" >
	        and title like #{params.title,jdbcType=VARCHAR}
	      </if>
	      <if test="params.nickName != null" >
	        and u.nick_name = #{params.nickName,jdbcType=VARCHAR}
	      </if>
	    </where>
	 GROUP BY
		lr.host_id,
		u.nick_name,
		lr.start_time,
		lr.room_id,
		lr.title
		order by lr.start_time DESC limit #{pageSize} 
		offset (#{currentPage}-1)*#{pageSize}
  </select>
  
    <select id="countLiveshowRateByPage" resultType="_int">
     SELECT count(DISTINCT(room_id))
	 FROM
		t_liveshow_rate lr
	 LEFT JOIN "user" u ON u. ID = lr.host_id
	 <where >
	      <if test="params.hostId != null" >
	        and host_id = #{params.hostId,jdbcType=BIGINT}
	      </if>
	      <if test="params.roomId != null" >
	        and room_id = #{params.roomId,jdbcType=VARCHAR}
	      </if>
	      <if test="params.startTime != null" >
	        and start_time >= #{params.startTime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="params.endTime != null" >
	        and #{params.endTime,jdbcType=TIMESTAMP} >= start_time
	      </if>
	      <if test="params.title != null" >
	        and title like #{params.title,jdbcType=VARCHAR}
	      </if>
	      <if test="params.nickName != null" >
	        and u.nick_name = #{params.nickName,jdbcType=VARCHAR}
	      </if>
	    </where>

  </select>
</mapper>