<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mosai.vliveshow.datachannel.repository.coupon.ThridpartyCampaignCouponMapper" >
  <resultMap id="BaseResultMap" type="com.mosai.vliveshow.datachannel.domain.coupon.ThridpartyCampaignCoupon" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="campaign_id" property="campaignId" jdbcType="BIGINT" />
    <result column="coupon_id" property="couponId" jdbcType="VARCHAR" />
    <result column="coupon_code" property="couponCode" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="coupon_type" property="couponType" jdbcType="INTEGER" />
    <result column="coupon_value" property="couponValue" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, campaign_id, coupon_id, coupon_code, user_id, company_id, company_name, coupon_type, 
    coupon_value, status, description, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_thirdparty_campaign_coupon
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByCdt" resultMap="BaseResultMap" parameterType="com.mosai.vliveshow.datachannel.domain.coupon.ThridpartyCampaignCoupon" >
    select 
    <include refid="Base_Column_List" />
    from t_thirdparty_campaign_coupon
    <where >
      <if test="campaignId != null" >
        and campaign_id = #{campaignId,jdbcType=BIGINT}
      </if>
      <if test="couponId != null" >
        and coupon_id = #{couponId,jdbcType=VARCHAR}
      </if>
      <if test="couponCode != null" >
        and coupon_code = #{couponCode,jdbcType=VARCHAR}
      </if>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="companyId != null" >
        and company_id = #{companyId,jdbcType=INTEGER}
      </if>
      <if test="companyName != null" >
        and company_name = #{companyName,jdbcType=VARCHAR}
      </if>
      <if test="couponType != null" >
        and coupon_type = #{couponType,jdbcType=INTEGER}
      </if>
      <if test="couponValue != null" >
        and coupon_value = #{couponValue,jdbcType=INTEGER}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="description != null" >
        and description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_thirdparty_campaign_coupon
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mosai.vliveshow.datachannel.domain.coupon.ThridpartyCampaignCoupon" >
    insert into t_thirdparty_campaign_coupon (id, campaign_id, coupon_id, 
      coupon_code, user_id, company_id, 
      company_name, coupon_type, coupon_value, 
      status, description, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{campaignId,jdbcType=BIGINT}, #{couponId,jdbcType=VARCHAR}, 
      #{couponCode,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{companyId,jdbcType=INTEGER}, 
      #{companyName,jdbcType=VARCHAR}, #{couponType,jdbcType=INTEGER}, #{couponValue,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mosai.vliveshow.datachannel.domain.coupon.ThridpartyCampaignCoupon" >
    insert into t_thirdparty_campaign_coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="campaignId != null" >
        campaign_id,
      </if>
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="couponCode != null" >
        coupon_code,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="couponType != null" >
        coupon_type,
      </if>
      <if test="couponValue != null" >
        coupon_value,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="campaignId != null" >
        #{campaignId,jdbcType=BIGINT},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="couponCode != null" >
        #{couponCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null" >
        #{couponType,jdbcType=INTEGER},
      </if>
      <if test="couponValue != null" >
        #{couponValue,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mosai.vliveshow.datachannel.domain.coupon.ThridpartyCampaignCoupon" >
    update t_thirdparty_campaign_coupon
    <set >
      <if test="campaignId != null" >
        campaign_id = #{campaignId,jdbcType=BIGINT},
      </if>
      <if test="couponId != null" >
        coupon_id = #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="couponCode != null" >
        coupon_code = #{couponCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null" >
        coupon_type = #{couponType,jdbcType=INTEGER},
      </if>
      <if test="couponValue != null" >
        coupon_value = #{couponValue,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mosai.vliveshow.datachannel.domain.coupon.ThridpartyCampaignCoupon" >
    update t_thirdparty_campaign_coupon
    set campaign_id = #{campaignId,jdbcType=BIGINT},
      coupon_id = #{couponId,jdbcType=VARCHAR},
      coupon_code = #{couponCode,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      company_id = #{companyId,jdbcType=INTEGER},
      company_name = #{companyName,jdbcType=VARCHAR},
      coupon_type = #{couponType,jdbcType=INTEGER},
      coupon_value = #{couponValue,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectCouponCode" resultType="java.util.HashMap" parameterType="com.mosai.vliveshow.datachannel.domain.coupon.ThridpartyCampaignCoupon" >
    select id, coupon_code as couponCode
    from t_thirdparty_campaign_coupon
    <where >
      <if test="campaignId != null" >
        and campaign_id = #{campaignId,jdbcType=BIGINT}
      </if>
      <if test="couponId != null" >
        and coupon_id = #{couponId,jdbcType=VARCHAR}
      </if>
      <if test="couponCode != null" >
        and coupon_code = #{couponCode,jdbcType=VARCHAR}
      </if>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="companyId != null" >
        and company_id = #{companyId,jdbcType=INTEGER}
      </if>
      <if test="companyName != null" >
        and company_name = #{companyName,jdbcType=VARCHAR}
      </if>
      <if test="couponType != null" >
        and coupon_type = #{couponType,jdbcType=INTEGER}
      </if>
      <if test="couponValue != null" >
        and coupon_value = #{couponValue,jdbcType=INTEGER}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="description != null" >
        and description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    limit 1;
  </select>
</mapper>