<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="false"/>
	</settings>
	

	<typeAliases> 
        <typeAlias type="com.mosai.vliveshow.core.Page" alias="Page"/>
        <package name="com.mosai.vliveshow.core.user"/>
        <package name="com.mosai.vliveshow.datachannel"/>
    </typeAliases> 
       	
	<plugins>
		<plugin interceptor="com.mosai.vliveshow.core.orm.mybatis.PagePlugin">
			<property name="SQL_REGULAR" value=".*?queryPage.*?"/>
			<property name="DIALECT" value="com.mosai.vliveshow.core.orm.mybatis.dialect.impl.PostgreSQLDialect"/>
		</plugin>
		<plugin interceptor="com.mosai.vliveshow.core.orm.mybatis.MapPlugin"/>
	</plugins>

</configuration>
